*{
    margin:0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 930px;
    object-fit: cover;
    
}

.header{
    margin-left: 110px;
    padding-top: 8px;
    padding-bottom: 10px;
}

.base{
       border-style: solid white;
       border-width: thin;
       margin-top: 20px;
       
}

.head{
   padding-left:10px;
   margin-left: 40px;
   font-size:medium;
}

.phone{
    padding:2px 0px 0px 100px;
    width:18px;
    height:18px;
}

.cart{
    padding-left:10px;
    width: 18px;
    height: 18px;
}

.para{
    background-image: linear-gradient(to right,#ff6ec7, rgb(255, 213, 128));
    color:#ff6ec7;
    margin:0;
}

.lorem{
    margin: 20px 0px 8px 0px;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}

.text{
    position: absolute;
    top: 34%;
    left: 35%;
    transform: translate(-50%, -50%);
    width:325px;
    background-color: rgb(243, 53, 53);
    opacity: 0.5;
    padding:10px 50px 30px 20px;
    color: white;
    font-size: small;
}
.second{
        width: 930px;
        margin: 10px 0px 0px 0px;
        background-image: linear-gradient(to right, #ff6ec7, rgb(255, 213, 128));
}

.order{
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
    margin-top: 5px;
 }

.foodimg{
    width:170px;
    height:170px;
    margin: 20px 0px 0px 18px;
    padding-bottom: 7px;
    border-top-right-radius: 40px;
    max-width: 100%;
    
}
.dummy{
    font-weight: bold;
    padding-left:70px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.edit{
        background-color: white;
        border-style: solid;
        border: none;
        border-radius:0px 60px 0px 50px;
        padding: 2px 0px 12px 0px;
        margin: 50px 0px 10px 80px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        float: left;
        width: 210px;
}
.word{
    font-size: 13px;
    padding: 7px 0px 0px 30px;
    width:170px;
}

.button{
    width:127px;
    height: 43px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 25px;
    background-color:pink;
    border: none;
    justify-content: center;
    margin: 40px 0px 80px 420px;
}
[class*="whole"] {
    width: 100%;
}
@media only screen and (min-width: 600px){
    /* .text {width:50%} */
    
}

